[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.testnet]
pigeon = "4hGz777LQCofhhsaxRrBbFUfyp9s559JR3cmBXgBVhH8"

[programs.localnet]
pigeon = "4hGz777LQCofhhsaxRrBbFUfyp9s559JR3cmBXgBVhH8"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
